.image-recipes {
  height: 200px;
  width: 200px;
}

.container-details {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: center;
}

.container-ingredients {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
}
