body {
  background-color: #0fa36b;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 90%;
  justify-content: center;
  text-overflow: clip;
  width: 90%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.recipe-image {
  height: 30px;
  width: 30px;
}

.image-recipes {
  width: 250px;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-height: 700px;
  max-width: 400px;
  text-align: center;
}

.card-recommendation {
  background-color: red;
  margin: 10px 20px;
  scroll-snap-align: start;
  text-align: center;
  width: 140px;
}

.recommendation-img {
  height: 100px;
  width: 100px;
}

.container-recommendation {
  display: flex;
  margin-bottom: 40px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 250px;
}

.container-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-ingredients {
  display: flex;
}

.instruction {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 80%;
}

.button-start-recipe {
  bottom: 0;
  position: fixed;
}
